.spacer {
  flex: 1 1 auto;
}

.desktop-menu {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}