<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Parking App</span>
  <span class="spacer"></span>
  
  <!-- Desktop menu -->
  <div class="desktop-menu">
    <a *ngFor="let item of menuItems" 
       mat-button 
       [routerLink]="item.route" 
       routerLinkActive="active"
       (click)="setActiveMenuItem(item.name)">
      {{item.name}}
    </a>
    
    <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon> {{currentUser?.name}}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="goToProfil()">
        <mat-icon>person</mat-icon> Profile
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
    </mat-menu>
    
    <button *ngIf="!isLoggedIn" mat-button (click)="goToLogin()">Login</button>
    <button *ngIf="!isLoggedIn" mat-button (click)="goToRegister()">Sign Up</button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" fixedTopGap="64">
    <mat-nav-list>
      <a *ngFor="let item of menuItems" 
         mat-list-item 
         [routerLink]="item.route" 
         (click)="setActiveMenuItem(item.name); sidenav.close()">
        <mat-icon>{{getIconForMenuItem(item.name)}}</mat-icon>
        <span>{{item.name}}</span>
      </a>
      
      <mat-divider></mat-divider>
      
      <a *ngIf="isLoggedIn" mat-list-item (click)="goToProfil(); sidenav.close()">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout(); sidenav.close()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
      
      <a *ngIf="!isLoggedIn" mat-list-item (click)="goToLogin(); sidenav.close()">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
      
      <a *ngIf="!isLoggedIn" mat-list-item (click)="goToRegister(); sidenav.close()">
        <mat-icon>person_add</mat-icon>
        <span>Sign Up</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container>