.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #e6e3db;
  color: rgb(212, 154, 7);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 60px;
}

button {
  margin: 10px;
  color: rgb(230, 194, 12);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #303f9f;
}

mat-icon {
  margin-right: 10px;
}
